{# templates/sidebar/sidebar.html.twig #}

<section class="section">
    <header>
        <h3>Tag Cloud</h3>
    </header>
    <p class="tags">

    </p>
</section>
<section class="section">
    <header>
        <h3>Latest Comments</h3>
    </header>

        <p>There are no recent comments</p>
</section>
